*.log
*.rar
*.tar
*.tar.bz2
*.tbz
*.zip
*.jar
.sass-cache
.lazy.yml
.DS_Store
.gitmodules
.svn
cache/
/build
/config/*.php
coverage/
.lazy.php
/vendor/
.lazy.php
.lazy.yml
/cache/
cache.properties
*SchemaProxy.php
# *CollectionBase.php
*.swp
manifest.php
src/Kendo/Model/*Base.php
src/Kendo/Model/*CollectionBase.php
composer.lock
