{#
vim:filetype=htmldjango:sw=2:ts=2:sts=2:
#}
<div class="row">
  {% set settings = editor.getPermissionSettings() %}
  {% for group in policy.getResourceGroupDefinitions() %}
      {% include "@Kendo/resource.html.twig" with { "policy": policy, "resource": group } %}
  {% endfor %}
</div>
